//colors
$black-1: #111111;
$white: #ffffff;
$blue: #2162e3;
$grey: #555c66;
$grey2: #e5e5e5;
$grey3: #b3b3b3;
$grey4: #f2f2f2;


//fonts
$font-family-roboto: "Roboto", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;
