//colors
$black-1: #111111;
$black-2: #333333;
$white: #ffffff;
$blue: #2162e3;
$grey: #555c66;
$grey2: #e5e5e5;
$grey3: #b3b3b3;
$grey4: #f2f2f2;
$grey5: #808080;

//fonts
$font-family-roboto: "Roboto", sans-serif;
$font-family-open-sans: "Open Sans", sans-serif;

// Media Queries Breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1500px;

// Media Queries Personalizadas
$xxxl_device: "(min-width: #{$xxl})"; // telas maiores que 1500px
$large_device: "(min-width: #{$xl}) and (max-width: #{$xxl})"; // desktop 1200-1500px

$mid_device: "(min-width: #{$lg}) and (max-width: #{$xl})"; // desktop normal 992-1200px
$tablet_device: "(min-width: #{$md}) and (max-width: #{$lg})"; // tablet 768-992px

$non_mobile_device: "(min-width: #{$md})"; // dispositivos maiores que 768px
$mobile_device: "(max-width: #{$md})"; // dispositivos móveis até 768px

$large_mobile: "only screen and (min-width: #{$sm}) and (max-width: #{$md})"; // celulares maiores, 480-768px
