@use "../abstract//variables";

.navigation-drawer {
  background-color: variables.$black-1 !important;
  opacity: 0.9 !important;
  color: variables.$white !important;
}

.drawer-list {
  font-weight: bold !important;
}
