@use "../abstract//variables";

.section-header__title {
  font-size: 2.25rem;
  line-height: 1.1;
}

.section-header__description {
  font-family: variables.$font-family-open-sans;
  line-height: 2;
}

//large desktop devices
// @media (variables.$xxxl_device) {
//   .image-column__container {
//     width: 150px !important;
//   }
// }
