@use "../abstract//variables";

.building-company {
  background-color: variables.$grey4 !important;
}

.build-number {
  font-size: 3.75rem !important;
  color: variables.$blue;
}

.build-sub-text {
  font-size: 1.25rem !important;
  color: variables.$black-1 !important;
}
