@use "../abstract//variables";

.section-download {
  background-image: linear-gradient(
      0deg,
      rgba(33, 98, 227, 0.5),
      rgba(33, 98, 227, 0.5)
    ),
    url("@/assets/images/pexels-photo-9392381.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-download__title,
.section-download__text {
  color: variables.$white;
}

.section-download__text {
  font-family: variables.$font-family-open-sans;
  line-height: 1.6;
  font-size: 1.125rem;
}

.section-download__button {
  color: variables.$blue;
}

//large desktop devices
@media (variables.$xxxl_device) {
  .section-download__title {
    font-size: 3rem !important;
  }
}
