@use "../abstract//variables";

.features-title {
  font-size: 2.25rem;
  line-height: 1.1;
}

.features-title--highlight {
  color: variables.$blue;
}

.features-description {
  color: variables.$black-1;
  font-family: variables.$font-family-open-sans;
}

.features-avatar {
  background-color: variables.$grey2 !important;
}

.features-avatar__icon,
.features-card__icon {
  color: variables.$blue !important;
}

.features-card__title {
  letter-spacing: 1px;
  margin: 34px 0 0;
}

.features-card__text {
  color: variables.$grey3;
  font-family: variables.$font-family-open-sans;
  font-size: 1rem !important;
  line-height: 1.6;
}

.features-card--highlighted {
  background-color: variables.$blue !important;
}

.features-card__title--highlighted,
.features-card__icon--highlighted {
  color: variables.$white !important;
}
