@use "../abstract//variables";

.markets-served {
  background-color: variables.$grey4 !important;
  // padding: 10%;
}

.section-services__title {
  font-size: 1.25rem;
}

.section-markets__list-item,
.section-services__list {
  font-size: 1.25rem;
  background-color: variables.$grey4 !important;
}

.no-break {
  white-space: nowrap;
}
